.app {
  min-height: 100vh;
  background-color: #f0f2f5;
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 24px;
  color: #0e8ce4;
  background: #f0f2f5;
}
